__pycache__
.ipynb_checkpoints
.DS_Store

# Icon
Icon?
! */*icon*

# Make documentation
pyproject.toml
pelican
MkDocs
README.md
MEMO.md
pelican2mkdocs.py
checkLibs.py
insertheaderfooter.py

# PyPI
dist/
MANIFEST
kerasy.egg-info/

# wheel
wheels/

#pytest
.pytest_cache
!tests/README.md
